.container{
    background-color:hsl(212, 45%, 89%);
    margin: 80px;
    padding: 40px;
}



img{
    border-radius: 15px;
    width: 90%;
}

.box{
    background-color: white;
    width: 20rem;
    padding-top: 10px;
    padding-bottom: 30px;
    border-radius: 15px;
}

.content{
    padding: 50px;
}